version: '3'
services:
    php:
        image: yiisoftware/yii2-php:7.3-apache
        volumes:
            - ~/.composer-docker/cache:/root/.composer/cache:delegated
            - ./:/app:delegated
        ports:
            - '8000:80'